In [1]:
# Importing all libraries that needed
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read from csv data source
customer_data = pd.read_csv('datasets/customer-data.csv')

In [6]:
# Get 5 of head rows
customer_data.head()

,id,age,gender,race,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,DUIs,past_accidents,outcome
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,True,after 2015,False,True,10238,12000.0,sedan,0,0,0,False
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,False,before 2015,False,False,10238,16000.0,sedan,0,0,0,True
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,True,before 2015,False,False,10238,11000.0,sedan,0,0,0,False
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,True,before 2015,False,True,32765,11000.0,sedan,0,0,0,False
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,True,before 2015,False,False,32765,12000.0,sedan,2,0,1,True

In [7]:
# Retun tuple of number of rows and columns 
customer_data.shape

(10000, 19)

In [8]:
# Return info (column, NN count, Data Type) on dataset
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10000 non-null  int64
 1   age                  10000 non-null  object
 2   gender               10000 non-null  object
 3   race                 10000 non-null  object
 4   driving_experience   10000 non-null  object
 5   education            10000 non-null  object
 6   income               10000 non-null  object
 7   credit_score         9018 non-null   float64
 8   vehicle_ownership    10000 non-null  bool
 9   vehicle_year         10000 non-null  object
 10  married              10000 non-null  bool
 11  children             10000 non-null  bool
 12  postal_code          10000 non-null  int64
 13  annual_mileage       9043 non-null   float64
 14  vehicle_type         10000 non-null  object
 15  speeding_violations  10000 non-null  int64
 16  DUIs                 10000 non-null  int64
 17  past_accidents       10000 non-null  int64
 18  outcome              10000 non-null  bool
dtypes: bool(4), float64(2), int64(5), object(8)
memory usage: 1.2+ MB

In [9]:
# Return Statistics Infos
customer_data.describe()

,id,credit_score,postal_code,annual_mileage,speeding_violations,DUIs,past_accidents
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [3]:
# Display number missing values per column
customer_data.isna().sum()

id                       0
age                      0
gender                   0
race                     0
driving_experience       0
education                0
income                   0
credit_score           982
vehicle_ownership        0
vehicle_year             0
married                  0
children                 0
postal_code              0
annual_mileage         957
vehicle_type             0
speeding_violations      0
DUIs                     0
past_accidents           0
outcome                  0
dtype: int64

In [4]:
# Check the mean credit score for each income group
customer_data.groupby(by="income")["credit_score"].mean()

income
middle class     0.523659
poverty          0.348331
upper class      0.613827
working class    0.431929
Name: credit_score, dtype: float64

In [5]:
# Input missing values with mean credit score for each income group
def input_creditscore(income_classes):
    for income_class in income_classes:      
        # subset of dataframe to use as filter
        filter = customer_data["income"] == income_class
        
        # calculate the mean for each income group
        mean = customer_data[customer_data["income"] == income_class]["credit_score"].mean()
        
        # input the missing values with mean of credit score for each income group
        customer_data.loc[filter,"credit_score"] = customer_data.loc[filter,'credit_score'].fillna(mean)

income_groups = ['poverty','upper class','middle class','working class']
input_creditscore(income_groups)

In [6]:
# check for missing values
customer_data.isnull().sum()

id                       0
age                      0
gender                   0
race                     0
driving_experience       0
education                0
income                   0
credit_score             0
vehicle_ownership        0
vehicle_year             0
married                  0
children                 0
postal_code              0
annual_mileage         957
vehicle_type             0
speeding_violations      0
DUIs                     0
past_accidents           0
outcome                  0
dtype: int64